.search-container {
  display: flex;
  width: 92%;
  font-family: sans-serif;

  margin: 0 auto;
  border-radius: 8px;
  padding-top: 5px;

}

.sidebar {
  width: 220px;
  border-right: 1px solid #ddd;
  background-color: white;
  margin-right: 5px;
  padding: 5px;
  border-radius: 8px;
  padding-bottom: 5px;
  
}

.sidebar h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 16px;
}

.sidebar label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.results {
  flex: 1;
  padding: 10px;

  background-color: white;
  border-radius: 8px;
}

.results h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  background: #fff;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info h4 {
  margin: 10px 0 5px;
}

.product-info p {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px;
}


.radio_box {
  background-color: white;
}


.sidebar_box{
      border-style: solid;
    border-color: rgb(212, 212, 212);
    border-width: 1px;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}